nt mt tree
0 4 ((((bison,wisent),yak),(cattle,indicus)),buffalo);
2 4 ((((cattle,indicus),yak),(bison,wisent)),buffalo);
2 4 ((((bison,wisent),(cattle,indicus)),yak),buffalo);
2 2 ((((bison,yak),wisent),(cattle,indicus)),buffalo);
4 0 ((((cattle,indicus),wisent),(bison,yak)),buffalo);
2 4 ((((wisent,yak),bison),(cattle,indicus)),buffalo);
4 4 ((((cattle,indicus),bison),(wisent,yak)),buffalo);
4 2 ((((bison,yak),(cattle,indicus)),wisent),buffalo);
4 4 ((((cattle,indicus),(wisent,yak)),bison),buffalo);
4 4 (((((cattle,indicus),yak),wisent),bison),buffalo);
4 4 (((((cattle,indicus),yak),bison),wisent),buffalo);
4 2 (((((cattle,indicus),wisent),bison),yak),buffalo);
4 4 (((((cattle,indicus),bison),wisent),yak),buffalo);
2 6 (((((bison,wisent),yak),indicus),cattle),buffalo);
4 2 (((((cattle,indicus),wisent),yak),bison),buffalo);
4 4 (((((cattle,indicus),bison),yak),wisent),buffalo);
2 6 (((((bison,wisent),yak),cattle),indicus),buffalo);
4 6 ((((cattle,yak),indicus),(bison,wisent)),buffalo);
4 6 ((((bison,wisent),indicus),(cattle,yak)),buffalo);
4 6 ((((indicus,yak),cattle),(bison,wisent)),buffalo);
4 6 ((((bison,wisent),cattle),(indicus,yak)),buffalo);
4 6 (((((bison,wisent),cattle),indicus),yak),buffalo);
4 6 ((((bison,wisent),(indicus,yak)),cattle),buffalo);
4 6 ((((bison,wisent),(cattle,yak)),indicus),buffalo);
4 6 (((((bison,wisent),indicus),cattle),yak),buffalo);
4 6 (((((bison,wisent),indicus),yak),cattle),buffalo);
4 6 (((((bison,wisent),cattle),yak),indicus),buffalo);
6 4 ((((bison,yak),indicus),(cattle,wisent)),buffalo);
6 4 ((((bison,yak),cattle),(indicus,wisent)),buffalo);
4 4 (((((bison,yak),wisent),indicus),cattle),buffalo);
4 4 (((((bison,yak),wisent),cattle),indicus),buffalo);
6 2 ((((cattle,wisent),indicus),(bison,yak)),buffalo);
6 6 ((((wisent,yak),indicus),(bison,cattle)),buffalo);
4 6 (((((wisent,yak),bison),cattle),indicus),buffalo);
4 6 (((((wisent,yak),bison),indicus),cattle),buffalo);
6 6 ((((wisent,yak),cattle),(bison,indicus)),buffalo);
6 2 ((((indicus,wisent),cattle),(bison,yak)),buffalo);
6 6 ((((bison,indicus),(cattle,wisent)),yak),buffalo);
6 6 ((((bison,cattle),indicus),(wisent,yak)),buffalo);
6 6 ((((bison,indicus),cattle),(wisent,yak)),buffalo);
6 4 ((((bison,yak),(indicus,wisent)),cattle),buffalo);
6 4 ((((bison,yak),(cattle,wisent)),indicus),buffalo);
6 6 ((((bison,cattle),(wisent,yak)),indicus),buffalo);
6 6 ((((cattle,wisent),(indicus,yak)),bison),buffalo);
6 6 (((((wisent,yak),indicus),cattle),bison),buffalo);
6 6 ((((cattle,wisent),bison),(indicus,yak)),buffalo);
6 6 ((((indicus,wisent),bison),(cattle,yak)),buffalo);
6 6 ((((bison,indicus),(wisent,yak)),cattle),buffalo);
6 6 ((((bison,indicus),wisent),(cattle,yak)),buffalo);
6 6 ((((bison,indicus),yak),(cattle,wisent)),buffalo);
6 6 ((((bison,cattle),yak),(indicus,wisent)),buffalo);
6 6 ((((cattle,wisent),yak),(bison,indicus)),buffalo);
6 6 ((((indicus,yak),wisent),(bison,cattle)),buffalo);
6 6 ((((bison,cattle),(indicus,wisent)),yak),buffalo);
6 6 ((((bison,cattle),wisent),(indicus,yak)),buffalo);
6 6 ((((cattle,yak),bison),(indicus,wisent)),buffalo);
6 6 ((((indicus,wisent),yak),(bison,cattle)),buffalo);
6 4 (((((bison,yak),cattle),indicus),wisent),buffalo);
6 6 ((((indicus,yak),bison),(cattle,wisent)),buffalo);
6 6 ((((cattle,yak),wisent),(bison,indicus)),buffalo);
6 6 ((((bison,cattle),(indicus,yak)),wisent),buffalo);
6 6 ((((bison,indicus),(cattle,yak)),wisent),buffalo);
6 6 (((((bison,cattle),indicus),wisent),yak),buffalo);
6 4 (((((bison,yak),indicus),cattle),wisent),buffalo);
6 6 (((((cattle,yak),indicus),bison),wisent),buffalo);
6 4 (((((indicus,wisent),cattle),bison),yak),buffalo);
6 4 (((((bison,yak),indicus),wisent),cattle),buffalo);
6 4 (((((cattle,wisent),indicus),bison),yak),buffalo);
6 6 (((((cattle,yak),wisent),indicus),bison),buffalo);
6 6 ((((cattle,yak),(indicus,wisent)),bison),buffalo);
6 4 (((((bison,yak),cattle),wisent),indicus),buffalo);
6 6 (((((cattle,yak),indicus),wisent),bison),buffalo);
6 6 (((((wisent,yak),cattle),indicus),bison),buffalo);
6 6 (((((cattle,wisent),bison),indicus),yak),buffalo);
6 6 (((((bison,indicus),cattle),wisent),yak),buffalo);
6 4 (((((cattle,wisent),indicus),yak),bison),buffalo);
6 6 (((((bison,indicus),cattle),yak),wisent),buffalo);
6 6 (((((indicus,yak),cattle),bison),wisent),buffalo);
6 6 (((((bison,indicus),wisent),cattle),yak),buffalo);
6 6 (((((wisent,yak),indicus),bison),cattle),buffalo);
6 6 (((((cattle,wisent),bison),yak),indicus),buffalo);
6 6 (((((wisent,yak),cattle),bison),indicus),buffalo);
6 6 (((((indicus,yak),cattle),wisent),bison),buffalo);
6 6 (((((bison,indicus),wisent),yak),cattle),buffalo);
6 6 (((((bison,cattle),wisent),indicus),yak),buffalo);
6 6 (((((cattle,yak),wisent),bison),indicus),buffalo);
6 6 (((((bison,cattle),wisent),yak),indicus),buffalo);
6 6 (((((cattle,wisent),yak),bison),indicus),buffalo);
6 6 (((((bison,cattle),indicus),yak),wisent),buffalo);
6 6 (((((bison,cattle),yak),indicus),wisent),buffalo);
6 6 (((((indicus,yak),wisent),cattle),bison),buffalo);
6 6 (((((indicus,wisent),bison),cattle),yak),buffalo);
6 6 (((((indicus,wisent),bison),yak),cattle),buffalo);
6 4 (((((indicus,wisent),cattle),yak),bison),buffalo);
6 6 (((((cattle,yak),bison),wisent),indicus),buffalo);
6 6 (((((indicus,yak),wisent),bison),cattle),buffalo);
6 6 (((((cattle,wisent),yak),indicus),bison),buffalo);
6 6 (((((cattle,yak),bison),indicus),wisent),buffalo);
6 6 (((((indicus,yak),bison),wisent),cattle),buffalo);
6 6 (((((bison,indicus),yak),cattle),wisent),buffalo);
6 6 (((((indicus,yak),bison),cattle),wisent),buffalo);
6 6 (((((indicus,wisent),yak),cattle),bison),buffalo);
6 6 (((((bison,indicus),yak),wisent),cattle),buffalo);
6 6 (((((indicus,wisent),yak),bison),cattle),buffalo);
6 6 (((((bison,cattle),yak),wisent),indicus),buffalo);
