nt mt tree
0 4 (((((bison,wisent),yak),(cattle,indicus)),buffalo),goat);
2 4 (((((cattle,indicus),yak),(bison,wisent)),buffalo),goat);
2 4 (((((bison,wisent),(cattle,indicus)),yak),buffalo),goat);
2 2 (((((bison,yak),wisent),(cattle,indicus)),buffalo),goat);
2 4 (((((wisent,yak),bison),(cattle,indicus)),buffalo),goat);
2 6 ((((((bison,wisent),yak),indicus),cattle),buffalo),goat);
2 6 ((((((bison,wisent),yak),cattle),indicus),buffalo),goat);
4 4 (((((cattle,indicus),bison),(wisent,yak)),buffalo),goat);
4 0 (((((cattle,indicus),wisent),(bison,yak)),buffalo),goat);
4 6 (((((cattle,yak),indicus),(bison,wisent)),buffalo),goat);
4 4 (((((cattle,indicus),(wisent,yak)),bison),buffalo),goat);
4 2 (((((bison,yak),(cattle,indicus)),wisent),buffalo),goat);
4 6 (((((indicus,yak),cattle),(bison,wisent)),buffalo),goat);
4 6 (((((bison,wisent),indicus),(cattle,yak)),buffalo),goat);
4 6 (((((bison,wisent),cattle),(indicus,yak)),buffalo),goat);
4 6 ((((((bison,wisent),indicus),cattle),yak),buffalo),goat);
2 6 (((((bison,wisent),yak),buffalo),(cattle,indicus)),goat);
4 6 ((((((bison,wisent),cattle),indicus),yak),buffalo),goat);
2 6 ((((bison,wisent),yak),((cattle,indicus),buffalo)),goat);
4 4 ((((((cattle,indicus),yak),wisent),bison),buffalo),goat);
4 4 ((((((cattle,indicus),bison),wisent),yak),buffalo),goat);
4 4 ((((((cattle,indicus),yak),bison),wisent),buffalo),goat);
4 2 ((((((cattle,indicus),wisent),bison),yak),buffalo),goat);
4 6 (((((bison,wisent),(cattle,yak)),indicus),buffalo),goat);
4 6 (((((bison,wisent),(indicus,yak)),cattle),buffalo),goat);
4 6 ((((((bison,wisent),cattle),yak),indicus),buffalo),goat);
4 6 ((((((bison,wisent),indicus),yak),cattle),buffalo),goat);
4 4 ((((((cattle,indicus),bison),yak),wisent),buffalo),goat);
4 6 (((((cattle,indicus),yak),buffalo),(bison,wisent)),goat);
4 2 ((((((cattle,indicus),wisent),yak),bison),buffalo),goat);
4 6 (((((bison,wisent),(cattle,indicus)),buffalo),yak),goat);
4 6 ((((bison,wisent),buffalo),((cattle,indicus),yak)),goat);
4 6 ((((bison,wisent),(cattle,indicus)),(buffalo,yak)),goat);
4 4 ((((((bison,yak),wisent),indicus),cattle),buffalo),goat);
4 6 ((((((wisent,yak),bison),indicus),cattle),buffalo),goat);
4 4 ((((((bison,yak),wisent),cattle),indicus),buffalo),goat);
4 6 ((((((wisent,yak),bison),cattle),indicus),buffalo),goat);
6 6 (((((wisent,yak),indicus),(bison,cattle)),buffalo),goat);
6 6 (((((bison,cattle),indicus),(wisent,yak)),buffalo),goat);
6 4 (((((bison,yak),(indicus,wisent)),cattle),buffalo),goat);
6 6 (((((bison,indicus),cattle),(wisent,yak)),buffalo),goat);
6 4 ((((((cattle,wisent),indicus),bison),yak),buffalo),goat);
6 6 (((((bison,cattle),(indicus,wisent)),yak),buffalo),goat);
6 6 (((((bison,indicus),(cattle,wisent)),yak),buffalo),goat);
4 4 ((((bison,yak),wisent),((cattle,indicus),buffalo)),goat);
6 6 ((((((bison,cattle),indicus),wisent),yak),buffalo),goat);
4 4 (((((bison,yak),wisent),buffalo),(cattle,indicus)),goat);
4 6 ((((cattle,indicus),buffalo),((wisent,yak),bison)),goat);
6 6 (((((bison,indicus),(wisent,yak)),cattle),buffalo),goat);
6 2 (((((indicus,wisent),cattle),(bison,yak)),buffalo),goat);
6 2 (((((cattle,wisent),indicus),(bison,yak)),buffalo),goat);
4 6 (((((wisent,yak),bison),buffalo),(cattle,indicus)),goat);
6 4 (((((bison,yak),(cattle,wisent)),indicus),buffalo),goat);
6 6 ((((((wisent,yak),indicus),cattle),bison),buffalo),goat);
6 4 (((((bison,yak),indicus),(cattle,wisent)),buffalo),goat);
6 6 (((((bison,cattle),(wisent,yak)),indicus),buffalo),goat);
4 6 ((((bison,wisent),(buffalo,yak)),(cattle,indicus)),goat);
6 6 (((((wisent,yak),cattle),(bison,indicus)),buffalo),goat);
6 4 ((((((bison,yak),indicus),cattle),wisent),buffalo),goat);
4 6 (((((cattle,indicus),buffalo),yak),(bison,wisent)),goat);
6 6 ((((((indicus,wisent),bison),cattle),yak),buffalo),goat);
6 4 ((((((bison,yak),indicus),wisent),cattle),buffalo),goat);
4 6 (((((bison,wisent),buffalo),(cattle,indicus)),yak),goat);
4 6 (((((cattle,indicus),buffalo),(bison,wisent)),yak),goat);
6 4 (((((bison,yak),cattle),(indicus,wisent)),buffalo),goat);
6 6 ((((((wisent,yak),indicus),bison),cattle),buffalo),goat);
6 4 ((((((bison,yak),cattle),indicus),wisent),buffalo),goat);
6 6 ((((((wisent,yak),cattle),indicus),bison),buffalo),goat);
6 6 ((((((bison,indicus),cattle),wisent),yak),buffalo),goat);
6 4 ((((((indicus,wisent),cattle),bison),yak),buffalo),goat);
6 6 ((((((cattle,yak),indicus),bison),wisent),buffalo),goat);
6 6 ((((((bison,cattle),wisent),indicus),yak),buffalo),goat);
6 2 ((((bison,yak),buffalo),((cattle,indicus),wisent)),goat);
6 4 ((((((cattle,wisent),indicus),yak),bison),buffalo),goat);
6 6 ((((cattle,indicus),bison),((wisent,yak),buffalo)),goat);
6 2 (((((cattle,indicus),wisent),buffalo),(bison,yak)),goat);
6 6 (((((cattle,indicus),bison),buffalo),(wisent,yak)),goat);
6 6 ((((((bison,cattle),indicus),yak),wisent),buffalo),goat);
6 6 ((((((indicus,yak),cattle),wisent),bison),buffalo),goat);
6 6 ((((((bison,indicus),wisent),cattle),yak),buffalo),goat);
6 6 ((((((bison,indicus),wisent),yak),cattle),buffalo),goat);
4 6 (((((bison,wisent),buffalo),yak),(cattle,indicus)),goat);
4 6 ((((buffalo,yak),(cattle,indicus)),(bison,wisent)),goat);
6 8 (((((bison,wisent),indicus),buffalo),(cattle,yak)),goat);
4 8 (((((bison,wisent),yak),indicus),(buffalo,cattle)),goat);
6 6 ((((((cattle,yak),indicus),wisent),bison),buffalo),goat);
4 8 ((((((bison,wisent),yak),indicus),buffalo),cattle),goat);
6 8 ((((bison,wisent),indicus),((cattle,yak),buffalo)),goat);
4 8 (((((bison,wisent),yak),cattle),(buffalo,indicus)),goat);
4 8 ((((((bison,wisent),yak),cattle),buffalo),indicus),goat);
6 6 ((((((indicus,wisent),yak),cattle),bison),buffalo),goat);
6 6 (((((bison,indicus),(cattle,yak)),wisent),buffalo),goat);
6 6 ((((((indicus,yak),cattle),bison),wisent),buffalo),goat);
6 6 ((((((bison,indicus),cattle),yak),wisent),buffalo),goat);
6 6 ((((((bison,cattle),wisent),yak),indicus),buffalo),goat);
6 8 (((((bison,wisent),cattle),buffalo),(indicus,yak)),goat);
6 6 ((((((indicus,yak),bison),cattle),wisent),buffalo),goat);
6 4 ((((bison,yak),(cattle,indicus)),(buffalo,wisent)),goat);
6 6 ((((cattle,indicus),(wisent,yak)),(bison,buffalo)),goat);
6 6 (((((cattle,indicus),(wisent,yak)),buffalo),bison),goat);
6 8 ((((bison,wisent),cattle),((indicus,yak),buffalo)),goat);
6 4 ((((((indicus,wisent),cattle),yak),bison),buffalo),goat);
6 6 (((((cattle,yak),(indicus,wisent)),bison),buffalo),goat);
6 6 ((((((cattle,yak),wisent),indicus),bison),buffalo),goat);
6 6 (((((cattle,wisent),(indicus,yak)),bison),buffalo),goat);
6 4 (((((bison,yak),(cattle,indicus)),buffalo),wisent),goat);
6 6 (((((bison,indicus),wisent),(cattle,yak)),buffalo),goat);
6 6 ((((((cattle,yak),wisent),bison),indicus),buffalo),goat);
6 4 ((((((bison,yak),cattle),wisent),indicus),buffalo),goat);
6 6 ((((((wisent,yak),cattle),bison),indicus),buffalo),goat);
6 6 ((((((indicus,wisent),yak),bison),cattle),buffalo),goat);
6 6 ((((((indicus,wisent),bison),yak),cattle),buffalo),goat);
6 6 ((((((indicus,yak),wisent),cattle),bison),buffalo),goat);
4 8 ((((((bison,wisent),yak),buffalo),indicus),cattle),goat);
6 6 ((((((bison,indicus),yak),cattle),wisent),buffalo),goat);
6 6 ((((((cattle,wisent),yak),bison),indicus),buffalo),goat);
4 8 ((((((bison,wisent),yak),buffalo),cattle),indicus),goat);
6 6 ((((((indicus,yak),wisent),bison),cattle),buffalo),goat);
